
@{
    ViewBag.Title = "Index";
}

<h2>Restore database</h2>
<hr/>

@using (Html.BeginForm("Index", "RestoreDB", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.message!=null) { <p class="@ViewBag.cssClass">@ViewBag.message</p>}
    <div class="form-group">
        <label for="file">File </label>
        <input type="file" name="file"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default" />
    </div>
}
