@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-book"></span> Book Store</h1>
    <p class="lead">Project for C# ASP.NET course about MVC architecture</p>
</div>
